@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

:root {
    font-family: "Quicksand", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1;
}
h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
}
h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3;
}

header > menu > a {
    color: var(--color-ctp-text);
    transition: all 0.2s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 1.2em;
}

header > menu > a:hover {
    color: var(--color-ctp-yellow);
    border-color: var(--color-ctp-yellow);
}
