@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
    --color-copper-50: #f9f2eb;
    --color-copper-100: #eedbc8;
    --color-copper-200: #e3c3a5;
    --color-copper-300: #d9ac82;
    --color-copper-400: #c68346;
    --color-copper-500: #a06731;
    --color-copper-600: #7d5026;
    --color-copper-700: #5a3a1c;
    --color-copper-800: #372311;
    --color-copper-900: #140d06;

    --color-iron-50: #f4f2f0;
    --color-iron-100: #e1dbd5;
    --color-iron-200: #cfc5bc;
    --color-iron-300: #bbaca0;
    --color-iron-400: #a89585;
    --color-iron-500: #957e6a;
}

:root {
    font-family: "Quicksand", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--color-ctp-base);
}

section {
    margin: 10px auto;
    margin-bottom: 0;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-ctp-surface0);
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1;
}
h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
}
h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3;
}

.copper-plate {
    border: 3px solid var(--color-copper-600);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
        135deg,
        var(--color-copper-400),
        var(--color-copper-500),
        var(--color-copper-400),
        var(--color-copper-500),
        var(--color-copper-600)
    );
}
